# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# Local Data & Database
*.csv
*.db
chroma_db/
stock_news_v1/
data/

# Logs
*.log

# Scripts
*.ps1

# Mac
.DS_Store
